*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: 'Poppins', sans-serif;}

input::-ms-clear{display: none;}
button{cursor: pointer; }
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body{
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
}

.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
}
.burger {
	--offset-horizontal: 11px;
	--offset-vertical: 14px;
	position: relative;
	width: 40px;
	height: 40px;
	padding: var(--offset-vertical) var(--offset-horizontal);
	background-color: #F5F6F7;
	border-radius: 100%;
}
.burger-line {
	position: absolute;
	left: 50%;
	top: var(--offset-vertical);
	display: inline-block;
	width: calc(100% - (var(--offset-horizontal)*2));
	height: 2px;
	background-color: #000;
	transform: translateX(-50%);
}
.burger-line:nth-child(2){
	top: calc(var(--offset-vertical) + 6px);
}
.burger-line:nth-child(3){
	top: calc(var(--offset-vertical) + 12px);
}
.hero {
	padding-top: 189px;
	padding-bottom: 240px;
	background: url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-content {
	max-width: 616px;
	color: #fff;
}
.hero-subtitle {
	display: inline-block;
	margin: 22px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}
.hero-title {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
}
.hero-descr {
	margin-bottom: 45px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.link {
	display: inline-flex;
	text-indent: 0px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #d4d6d4;
	transition: color 0.2s ease-in-out;
}

/* .link svg{
	fill:#d4d6d4 ;
	width: 18px;
	height: 18px;
} */
.link:hover{
	color: #ffd723;
}
.icon{
	font-size: 20px;
	padding-right: 5px;
}

.services {
	padding-top: 150px;
	padding-bottom: 150px;
	margin-bottom: -180px;
}
.site-title {
	font-weight: 700;
	font-size: 35px;
	line-height: 46px;
	color: #4D533C;
}
.services-title{
	max-width: 607px;
	padding-bottom: 60px;
}
.services-list {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}
.services-item {
	display: flex;
	flex-direction: column;
}
.services-subtitle {
	margin: 0;
	margin-bottom: 20px;
	max-width: 183px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
}
.services-descr {
	margin: 0;
	margin-bottom: 56px;
	font-weight: 500;
	max-width: 194px;
	font-size: 14px;
	line-height: 26px;
	color: rgba(33, 56, 66, 0.6);
}
.services-link {
	margin-bottom: 0;
	margin-top: auto;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #d4d6d4;
	align-items: flex-start;
}
.get-started {
	position: relative;
	top: 180px;
	padding: 70px 0;
	width: 88%;
	background-color: #fafafa;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.get-started-title {
	margin: 0;
	margin-bottom: 50px;
	max-width: 822px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #4D533C;
}
.get-started-link {
	text-transform: uppercase;
}
.footer {
	padding-top: 300px;
	color: #fff;
	background: url("../img/Bitmap.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-top {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 52px;
	border-bottom: 1px solid #5d6544;
}
.footer-contacts-item:not(:last-child) {
	margin-right: 128px;
}
.footer-contacts-text {
	display: block;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;
}
.footer-contacts-value {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	font-style: normal;
	text-decoration: none;
}
.footer-middle {
	--grid-gap: 70px;
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: repeat(4, 1fr);
	padding: 60px 0;
	border-bottom: 1px solid #5d6544;
}
.footer-column:last-child {
	position: relative;
}

.footer-column:last-child::before{
	content: '';
	position: absolute;
	top: 0;
	left: calc(-1 * (var(--grid-gap)));
	width: 1px;
	height: 100%;
	background-color: #5d6544;
}
.footer-title {
	margin: 0;
	margin-bottom: 21px;
	font-weight: 500;
	font-size: 16px;
	line-height: 38px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.footer-link {
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;
}
.footer-text {
	margin: 0;
	margin-bottom: 22px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #b6c197;
}
.footer-mail {
	display: inline-block;
	margin-bottom: 22px;
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	color: #fff;
}
.social {
	display: flex;
	align-items: center;
}
.social-item:not(:last-child) {
	margin-right: 11px;
}
.social-link {
	display: block;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	background-color: #444a34;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 19px auto;
}
.social-link:hover{
	background-color: #ffd723;
	transition: background-color 0.3s ease-in-out;
}
.social-link-fb {
	background-image: url("../img/social/fb.svg");
}
.social-link-tw {
	background-image: url("../img/social/tw.svg");
}
.social-link-g {
	background-image: url("../img/social/g.svg");
}
.social-link-in {
	background-image: url("../img/social/in.svg");
}
.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 0;

}
.copyright {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #B5C096;
}


@media (max-width:992px){
	.services-list{
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
	}

	.services-subtitle{
		max-width: none;
	}

	.services-descr{
		max-width: none;
	}

	.footer-middle {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-column:last-child::before{
		display: none;
	}
}

@media (max-width:768px){
	.get-started-title{
		font-size: 42px;
		line-height: 50px;
	}

}

@media (max-width:576px){
	.services-list{
		gap: 50px;
		grid-template-columns: repeat(1, 1fr);
	}

	.footer-middle {
		--grid-gap: 40px;
		grid-template-columns: repeat(1, 1fr);
	}
	.hero-title {
		font-size: 50px;
		line-height: 65px;
	}

	.services {
		padding-top: 85px;
		padding-bottom: 85px;
	}

	.footer-bottom {
		flex-direction: column;
		justify-content: center;
	}

}

@media (max-width:375px){
	.footer-mail {
		font-size: 21px;
	}
	.hero-title {
		font-size: 45px;
		line-height: 60px;
	}
	.logo-logo{
		max-width: 90%;
	}
}